{% extends "base.html" %}

{% block title %}Create product page{% endblock %}

{% block content %}
    <p>Here goes the form to create products.</p>
    <h2>Create product:</h2>
    <form action='' method = "POST">
        <p>Código do produto<input type = "number" min="0" name = "id" /></p>
        <p>Nome<input type = "text" name = "name" /></p>
        <p>Preço<input type = "number" min="0" step="0.01" name = "price" /></p>
        <p>Peso<input type = "number" min="0" step="0.01" name = "weight" /></p>
        <p>Categoria<input type = "text" min="0" name = "category" /></p>
        <p>Quantidade disponível<input type = "number" name = "stock_amount" /></p>
        <p>Descrição<input type = "text" name = "description" /></p>
        <p><input type = "submit" value = "Enviar" /></p>
    </form>
{% endblock %}