{% extends "base_page.html" %}
{% set active_page = "product" %}

{% block title %}Products list{% endblock %}

{% block content %}
    <p>Here goes the list of all products.</p>
    <h2>Available products:</h2>
    <table class="table" style="width:100%">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Weight</th>
                <th scope="col">Category</th>
                <th scope="col">Available Stock Quantity</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{product.getId()}}</td>
                <td>{{product.getName()}}</td>
                <td>{{product.getPrice()}}</td>
                <td>{{product.getWeight()}}</td>
                <td>{{product.getCategory()}}</td>
                <td>{{product.getStockAmount()}}</td>
                <td>{{product.getDescription()}}</td>
                <td>
                    <form action="" method="POST">
                        <!-- Input to retrieve product's id -->
                        <input type="hidden" name="product_id" value={{product.getId()}} /> 

                        {% if product.id not in product_list %}
                            <!-- Display button: add product to cart -->
                            <button type="submit" value="add_product" name="cart_button" class="btn btn-success">
                                {% include "product/buttons/add_to_cart_button_layout.html" %}
                                Add to cart
                            </button>
                        {% else %}
                            <!-- Display button: remove product from cart -->
                            <button type="submit" value="remove_product" name="cart_button" class="btn btn-outline-danger">
                                {% include "product/buttons/remove_from_cart_button_layout.html" %}
                                Remove from cart
                            </button>
                        {% endif%}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}