{% extends "base.html" %}
{% set active_page = "product" %}

{% block title %}Read products page{% endblock %}

{% block content %}
    <p>Here goes the list of all products.</p>
    <h2>Available products:</h2>
    <table class="table" style="width:100%">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Weight</th>
                <th scope="col">Category</th>
                <th scope="col">Available Stock Quantity</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{product.getId()}}</td>
                <td>{{product.getName()}}</td>
                <td>{{product.getPrice()}}</td>
                <td>{{product.getWeight()}}</td>
                <td>{{product.getCategory()}}</td>
                <td>{{product.getStockAmount()}}</td>
                <td>{{product.getDescription()}}</td>
                {% if product.id not in product_list %} 
                    <td>
                        <form action='' method = "POST">
                            <button type="submit" value={{product.id}} name="cart_button" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                </svg>
                                Add to cart
                            </button>
                        </form>
                    </td>
                {% else %}
                    <td>{% include "product/buttons/remove_from_cart_button.html" %}</td>
                {% endif%}
            </tr>
        {% endfor %}
    </table>
{% endblock %}